<!doctype html>
<title>{% block title %}{% endblock %} - Sblog</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="{{ url_for('static',filename='weather.js') }}"></script>
<nav>
  <h1><a href="{{ url_for('index') }}">Sblog</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
      <li>
          <span class="weather">
              <span id="location">
                  <ul>
                      <li><label>Weather Location<label>
                      <li><input type="text" id="wthr_loc"/>
                  </ul>
                  <button type="button" onclick="get_weather_for_loc_fn()">Go</button>
              </span>
              <span id="temp" class="hide">
                  <ul>
                      <li><span>Current Weather</span>
                      <li><span id="tmp_loc"/>
                      <li><a href="#" onclick="clear_display_fn()">Clear</a>
                  </ul>
              </span>
          </span>
          <script type="text/javascript">
            check_cookie_fn()
          </script>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
